<style>
    body {
        font-family: 'Comic Sans MS', cursive, sans-serif;
        background-color: #e6d8f2;
        color: white;
    }
    h1 {
        color: white;
        text-align: center;
        font-size: 2.5em;
        margin-bottom: 20px;
        text-shadow: 2px 2px #d1b3e7;
    }
    div {
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: #d1b3e7;
        border-radius: 10px;
        width: 60%;
        margin: 0 auto;
        box-shadow: 2px 2px 5px #c3a1db;
    }
    p {
        font-size: 1.2em;
        margin: 5px 0;
    }
</style>
@model Cumulative1.Models.Course

<h1>@Model.CourseCode - @Model.CourseName</h1>

<div style="display:flex; flex-direction:column">
    <p>Start Date: @Model.StartDate</p>
    <p>Finish Date: @Model.FinishDate</p>
    <a href="/CoursePage/DeleteConfirm/@Model.CourseId">Delete Information</a>
</div>