<style>
    body {
        font-family: 'Comic Sans MS', cursive, sans-serif;
        background-color: #ffe6f2; 
        color: white;
    }
    h1 {
        color: white;
        text-align: center;
        font-size: 2.5em;
        margin-bottom: 20px;
        text-shadow: 2px 2px #ffb6c1; 
    }
    div {
        background-color: #ffccd5; 
        border-radius: 10px;
        margin: 10px auto;
        padding: 10px;
        width: 60%;
        text-align: center;
        box-shadow: 2px 2px 5px #ffa3b1; /* Soft pink shadow */
    }
    div a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 1.2em;
    }
    div a:hover {
        color: #ffe6f2;
    }
    #new {
        background-color: #c3a1db;
    }
</style>

@model IEnumerable<Cumulative1.Models.Student>

<h1>List of Students</h1>

@foreach (Cumulative1.Models.Student CurrentStudent in Model)
{
    <div>
        <a href="/StudentPage/Show/@CurrentStudent.StudentId">@CurrentStudent.StudentFName @CurrentStudent.StudentLName</a>

    </div>


}
<a id=new href="/StudentPage/New">Enroll new Student</a>