<style>
    body {
        font-family: 'Comic Sans MS', cursive, sans-serif;
        background-color: #e6d8f2;
        color: white;
    }
    h1 {
        color: white;
        text-align: center;
        font-size: 2.5em;
        margin-bottom: 20px;
        text-shadow: 2px 2px #d1b3e7;
    }
    div {
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: #d1b3e7;
        border-radius: 10px;
        width: 60%;
        margin: 0 auto;
        box-shadow: 2px 2px 5px #c3a1db;
    }
    p {
        font-size: 1.2em;
        margin: 5px 0;
    }
</style>
@model Cumulative1.Models.Student

<h1>@Model.StudentFName @Model.StudentLName</h1>

<div style="display:flex; flex-direction:column">
    <p>Student Number: @Model.StudentNumber</p1>
    <p>enrole Date: @Model.enroldate</p1>
    <a  href="/StudentPage/DeleteConfirm/@Model.StudentId">Delete Information</a>
</div>